$light-grey-background: #f7f7f9;
$light-grey-border: rgba(0, 0, 0, 0.125);

#app,
html,
body {
  width:100%;
  margin:0;
  height:100%;
}

.list-group-item {
  cursor: pointer;
  border-left: 0px solid;
  border-top: 0px solid;
  border-bottom: 0px solid;
}

.scrollable {
  overflow-y: hidden;
  padding: 0;
  &:hover, &:focus {
    overflow-y: auto;
  }
}

.chat-box {
  bottom: 0;
  position: absolute;
  padding: inherit;
  left: 0;
  right: 0;
}

.chat {
  margin: 0;
}

.message-feed {
  max-height: 75%;
  display: flex;
  flex-direction: column-reverse;
}

.chat-box {
  max-height: 10%;
}

.screen_name {
  font-weight: bold;
  margin-right: 1em;
}

.message-in-feed {
  margin: 1em 5em;
}

.channel-column {
  background-color: $light-grey-background;
  padding: 0;
  border-right: solid 1px;
  border-right-color: $light-grey-border;
}

.channel-title {
  margin-left: 15px;
}

.channel-list,
.channel{
  background-color: $light-grey-background;
}

h1 {
  margin-bottom: 1rem;
}

