$light-grey-background: #f7f7f9;
$light-grey-border: rgba(0, 0, 0, 0.125);
$own-message-color: #3399F3;

#app,
html,
body {
  width:100%;
  margin:0;
  height:100%;
}

.list-group-item {
  cursor: pointer;
  border-left: 0px solid;
  border-top: 0px solid;
  border-bottom: 0px solid;
}

.scrollable {
  overflow-y: hidden;
  padding: 0;
  &:hover, &:focus {
    overflow-y: auto;
  }
}

.chat-box {
  bottom: 0;
  position: absolute;
  padding: inherit;
  left: 0;
  right: 0;
}

.chat {
  margin: 0;
}

.message-feed {
  max-height: 80%;
  display: flex;
  flex-direction: column-reverse;
}

.screen_name {
  font-weight: bold;
  margin-right: 1em;
}

.message-in-feed {
  margin: 1em 5em;
}

.channel-column {
  background-color: $light-grey-background;
  padding: 0;
  border-right: solid 1.5px;
  border-right-color: $light-grey-border;
}

.channel-list {
  max-height: 90%;
}

.channel-title {
  max-height: 10%;
  vertical-align: middle;
  margin-left: 15px;
}

.active-channel-title {
  max-height: 10%;
}

.own-message {
  color: $own-message-color;
}

.create-channel-btn {
  margin-top: 0.3rem;
  margin-right: 15px !important;
}

.channel-list,
.channel{
  background-color: $light-grey-background;
}

h1 {
  margin-bottom: 1rem;
}

@media only screen and (max-height: 640px) {
  .message-feed {
    max-height: 60%;
  }
}

